In [184]:
import pandas as pd

In [185]:
df=pd.read_csv("D:\Data_Mining/dataset_review.csv")

In [186]:
print(df)

    Book   p1   p2 p3   p4 p5   p6 p7   p8
0  book1  3.5    2  5    3  -    -  5    3
1  book2    2  3.5  1    4  4  4.5  2    -
2  book3    -    4  1  4.5  1    4  -    -
3  book4  4.5    -  3    -  4    5  3    5
4  book5    5    2  5    3  -    5  5    4
5  book6  1.5  3.5  1  4.5  -  4.5  4  2.5
6  book7  2.5    -  -    4  4    4  5    3
7  book8    2    3  -    2  1    4  -    -

In [187]:
 print(df.columns)

Index(['Book', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6', 'p7', 'p8'], dtype='object')

In [188]:
print(df.dtypes)

Book    object
p1      object
p2      object
p3      object
p4      object
p5      object
p6      object
p7      object
p8      object
dtype: object

In [189]:
df_subset=df.replace('-',float("Nan"))

In [190]:
print(df_subset)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
2  book3  NaN    4    1  4.5    1    4  NaN  NaN
3  book4  4.5  NaN    3  NaN    4    5    3    5
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [191]:
df2=df_subset[df_subset["p1"].notnull()]

In [192]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
3  book4  4.5  NaN    3  NaN    4    5    3    5
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [193]:
df2=df_subset[df_subset["p2"].notnull()]

In [194]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
2  book3  NaN    4    1  4.5    1    4  NaN  NaN
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [195]:
df2=df2[df2['p1'].notnull()]

In [196]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [197]:
from scipy .spatial import distance

In [198]:
from scipy.spatial.distance import cityblock

In [199]:
Manhattan_distance_p1_p2=distance.cityblock(df2['p1'].astype(float),df2['p2'].astype(float))

In [200]:
print(Manhattan_distance_p1_p2)

9.0

In [201]:
euclidean_distance_p1_p2=distance.euclidean(df2['p1'].astype(float),df2['p2'].astype(float))

In [204]:
print(euclidean_distance_p1_p2)

4.301162633521313

In [106]:
df2=df_subset[df_subset["p1"].notnull()]

In [107]:
df2=df2[df2["p3"].notnull()]

In [108]:
print(df2)

    Book   p1   p2 p3   p4   p5   p6 p7   p8
0  book1  3.5    2  5    3  NaN  NaN  5    3
1  book2    2  3.5  1    4    4  4.5  2  NaN
3  book4  4.5  NaN  3  NaN    4    5  3    5
4  book5    5    2  5    3  NaN    5  5    4
5  book6  1.5  3.5  1  4.5  NaN  4.5  4  2.5

In [109]:
Manhattan_distance_p1_p3=distance.cityblock(df2['p1'].astype(float),df2['p3'].astype(float))

In [110]:
print(Manhattan_distance_p1_p3)

4.5

In [111]:
euclidean_distance_p1_p3=distance.euclidean(df2['p1'].astype(float),df2['p3'].astype(float))

In [112]:
print(euclidean_distance_p1_p3)

2.3979157616563596

In [113]:
df2=df_subset[df_subset["p1"].notnull()]

In [114]:
df2=df2[df2["p4"].notnull()]

In [115]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
0  book1  3.5    2    5    3  NaN  NaN    5    3
1  book2    2  3.5    1    4    4  4.5    2  NaN
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [116]:
Manhattan_distance_p1_p4=distance.cityblock(df2['p1'].astype(float),df2['p4'].astype(float))

In [117]:
print(Manhattan_distance_p1_p4)

9.0

In [118]:
euclidean_distance_p1_p4=distance.euclidean(df2['p1'].astype(float),df2['p4'].astype(float))

In [119]:
print(euclidean_distance_p1_p4)

4.415880433163923

In [128]:
df2=df_subset[df_subset["p1"].notnull()]

In [129]:
df2=df2[df2["p5"].notnull()]

In [130]:
print(df2)

    Book   p1   p2   p3   p4 p5   p6   p7   p8
1  book2    2  3.5    1    4  4  4.5    2  NaN
3  book4  4.5  NaN    3  NaN  4    5    3    5
6  book7  2.5  NaN  NaN    4  4    4    5    3
7  book8    2    3  NaN    2  1    4  NaN  NaN

In [131]:
Manhattan_distance_p1_p5=distance.cityblock(df2['p1'].astype(float),df2['p5'].astype(float))

In [132]:
print(Manhattan_distance_p1_p5)

5.0

In [134]:
euclidean_distance_p1_p5=distance.euclidean(df2['p1'].astype(float),df2['p5'].astype(float))

In [135]:
print(euclidean_distance_p1_p5)

2.7386127875258306

In [136]:
df2=df_subset[df_subset["p1"].notnull()]

In [137]:
df2=df2[df2["p6"].notnull()]

In [138]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6   p7   p8
1  book2    2  3.5    1    4    4  4.5    2  NaN
3  book4  4.5  NaN    3  NaN    4    5    3    5
4  book5    5    2    5    3  NaN    5    5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5    4  2.5
6  book7  2.5  NaN  NaN    4    4    4    5    3
7  book8    2    3  NaN    2    1    4  NaN  NaN

In [139]:
Manhattan_distance_p1_p6=distance.cityblock(df2['p1'].astype(float),df2['p6'].astype(float))

In [140]:
print(Manhattan_distance_p1_p6)

9.5

In [142]:
euclidean_distance_p1_p6=distance.euclidean(df2['p1'].astype(float),df2['p6'].astype(float))

In [143]:
print(euclidean_distance_p1_p6)

4.663689526544408

In [145]:
df2=df_subset[df_subset["p1"].notnull()]

In [146]:
df2=df2[df2["p7"].notnull()]

In [147]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6 p7   p8
0  book1  3.5    2    5    3  NaN  NaN  5    3
1  book2    2  3.5    1    4    4  4.5  2  NaN
3  book4  4.5  NaN    3  NaN    4    5  3    5
4  book5    5    2    5    3  NaN    5  5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5  4  2.5
6  book7  2.5  NaN  NaN    4    4    4  5    3

In [148]:
Manhattan_distance_p1_p7=distance.cityblock(df2['p1'].astype(float),df2['p7'].astype(float))

In [149]:
print(Manhattan_distance_p1_p7)

8.0

In [150]:
euclidean_distance_p1_p7=distance.euclidean(df2['p1'].astype(float),df2['p7'].astype(float))

In [151]:
print(euclidean_distance_p1_p7)

4.12310562561766

In [152]:
df2=df_subset[df_subset["p1"].notnull()]

In [153]:
df2=df2[df2["p8"].notnull()]

In [154]:
print(df2)

    Book   p1   p2   p3   p4   p5   p6 p7   p8
0  book1  3.5    2    5    3  NaN  NaN  5    3
3  book4  4.5  NaN    3  NaN    4    5  3    5
4  book5    5    2    5    3  NaN    5  5    4
5  book6  1.5  3.5    1  4.5  NaN  4.5  4  2.5
6  book7  2.5  NaN  NaN    4    4    4  5    3

In [157]:
Manhattan_distance_p1_p8=distance.cityblock(df2['p1'].astype(float),df2['p8'].astype(float))

In [158]:
print(Manhattan_distance_p1_p8)

3.5

In [159]:
euclidean_distance_p1_p8=distance.euclidean(df2['p1'].astype(float),df2['p8'].astype(float))

In [160]:
print(euclidean_distance_p1_p8)

1.6583123951777

In [226]:
print('\n')
print("Distance_two_point","\t","Manhattan_Distance","\t","Euclidean_Distance",'\n')
print("p1 to p2",'\t\t',Manhattan_distance_p1_p2,'\t\t\t',euclidean_distance_p1_p2,'\n')
print("p1 to p3",'\t\t',Manhattan_distance_p1_p3,'\t\t\t',euclidean_distance_p1_p3,'\n')
print("p1 to p4",'\t\t',Manhattan_distance_p1_p4,'\t\t\t',euclidean_distance_p1_p4,'\n')
print("p1 to p5",'\t\t',Manhattan_distance_p1_p5,'\t\t\t',euclidean_distance_p1_p5,'\n')
print("p1 to p6",'\t\t',Manhattan_distance_p1_p6,'\t\t\t',euclidean_distance_p1_p6,'\n')
print("p1 to p7",'\t\t',Manhattan_distance_p1_p7,'\t\t\t',euclidean_distance_p1_p7,'\n')
print("p1 to p8",'\t\t',Manhattan_distance_p1_p8,'\t\t\t',euclidean_distance_p1_p8)

Distance_two_point 	 Manhattan_Distance 	 Euclidean_Distance

p1 to p2 		 9.0 			 4.301162633521313

p1 to p3 		 4.5 			 2.3979157616563596

p1 to p4 		 9.0 			 4.415880433163923

p1 to p5 		 5.0 			 2.7386127875258306

p1 to p6 		 9.5 			 4.663689526544408

p1 to p7 		 3.5 			 4.12310562561766

p1 to p8 		 3.5 			 1.6583123951777

In [227]:
print("The lowest distance between p1 to p8 in Manhatan distance and Euclidean distance are",Manhattan_distance_p1_p8,"and",euclidean_distance_p1_p8,"respectively")

The lowest distance between p1 to p8 in Manhatan distance and Euclidean distance are 3.5 and 1.6583123951777 respectively